---
import Layout from "../layouts/Layout.astro";


---

<Layout title="Blog | Luis Velasco" description="Blog de Luis Velasco, desarrollador web. Aquí encontrarás artículos sobre desarrollo web, tecnología y más.">
    <main class="px-6 lg:px-0 mx-auto max-w-3xl">
        <h1 class="dark:text-darKText text-2xl font-bold mb-2">Recent Blogs</h1>
        
        
    </main>
    
</Layout>