---
import { getI18N } from "../i18n"

const { currentLocale } = Astro
const i18n = getI18N({ currentLocale })
---
<a class="rounded-md text-textPrimary bg-secondary dark:bg-darKText px-2 py-1 text-sm flex gap-1 items-center justify-center font-medium mt-3 hover:bg-blue-200 dark:hover:bg-darkTextSecondary w-fit" href="https://cywgxrteafmkefjoimap.supabase.co/storage/v1/object/public/cv/CV.pdf" aria-describedby="Download CV" aria-label="Button to download cv" target="_blank" rel="noopener noreferrer">
    <i class="uil uil-download-alt text-xl"></i>
    {i18n.CV}
</a>
