---
interface Props {
  checkActive?: boolean
  href: string
  class?: string
}

const {
  href,
  class: className,
  checkActive = true,
  ...restOfProps
} = Astro.props


const currentPath = Astro.url.pathname
const isActive = currentPath === href && checkActive
---

<a href={href} class={` hover:bg-blue-400 dark:hover:bg-gray-500 font-semibold text-sm block py-2.5 px-3 ${isActive ? "text-blue-900 dark:text-yellow" : "text-textPrimary dark:text-darKText"}`} aria-label='Link to navigate'><slot /></a>