---
interface Props {
    text: string;
    icon?: string;
}

const { text, icon } = Astro.props;
---

<span class="w-11 h-11 grid place-content-center border-t border-transparent shadow dark:shadow-none bg-darKText dark:bg-darkBg rounded-lg text-xl">
    <i class=`devicon-${icon} colored`></i>
</span>
<span class="text-textPrimary dark:text-darKText">{text}</span>