<button type="button" id="theme-selector" class="px-2 py-1 rounded bg-yellow dark:bg-darkBg text-textPrimary dark:text-darKText">
  <span class="sr-only">Enable <span class="dark:hidden">light</span><span class="hidden dark:inline">dark</span> mode</span>
  <span class="hidden dark:inline">
    <i class="uil uil-moon"></i>
  </span>
  <span class="dark:hidden">
    <i class="uil uil-sun"></i>
  </span>
</button>



<script>
  document.getElementById('theme-selector')?.addEventListener('click', () => {
    if (localStorage.theme === 'dark') {
      localStorage.theme = 'light';
      document.documentElement.classList.remove('dark');
    } else {
      localStorage.theme = 'dark';
      document.documentElement.classList.add('dark');
    }
  });
</script>